<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("./include/meta.ejs", {
    title: title,
    description: description
  }) %>
  <%- include("./include/common-script.ejs") %>
</head>
<body>
  <%- include("./include/common-web-components.ejs") %>
  <h1>このサイトについて</h1>
</body>
</html>