<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("./include/meta.ejs", {
    title: title,
    description: description
  }) %>
  <%- include("./include/common-script.ejs") %>
  <script src="/js/web-components/hero.js"></script>
</head>
<body>
  <%- include("./include/common-web-components.ejs") %>
  <hpp-hero>聖地を共有しよう</hpp-hero>
  <main>
    <hpp-photo-list>
      <h2>New</h2>
    </hpp-photo-list>
  </main>
  <script src="/js/web-components/photo-list.js"></script>
  <script src="/js/web-components/photo-card.js"></script>
</body>
</html>